body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 360px;
    height: 814px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.header {
    width: 100%;
    background-color: #D32F2F;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.subscription-section {
    text-align: center;
    margin: 20px 0;
}

.subscription-button {
    background-color: #333333;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
}

.price {
    margin: 20px 0;
    background-color: #EF5350;
    color: white;
    font-size: 36px;
    padding: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.benefits-grid {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
}

.benefit-item {
    width: 30%;
    text-align: center;
    padding: 10px;
}

.benefit-item h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
/* Estilos del pie de página */
.footer {
    background-color: #000;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.nav-icons {
    display: flex;
    gap: 10px;
}

.nav-icons a img {
    width: 25px; /* Tamaño más pequeño para íconos en móviles */
    height: 25px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.woff2') format('woff2'),
         url('fonts/Montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Alegreya Sans';
    src: url('fonts/AlegreyaSans-Regular.woff2') format('woff2'),
         url('fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }